{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR0R5S8xq1Uq3T9eUjM0R9j9RbE1bjo6FyjAdS6bK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-vo1mX7dB4dT1mL3XK2OKvMfQKh2B9i5U2HvxUGpHGvf2jX+7WwZujp9dFbN/Rpi5" crossorigin="anonymous"></script>
    {% block scripts %}{% endblock scripts %}
        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />
        {% comment %} Alertify css {% endcomment %}
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>

        <script src="https://kit.fontawesome.com/6ec9382e98.js" crossorigin="anonymous"></script>
        {% block css %}
        <link href="{% static "/css/home.css" %}" rel="stylesheet">
        {% endblock css %}
    </head>

    <body>
        <header>
            {% include "main/navbar.html" %}
        </header>
        <main>
            {% block body %}{% endblock body %}
        </main>
        <footer>
            {% include "main/footer.html" %}
        </footer>
        <!-- Bootstrap JavaScript Libraries -->
        {% block script %}{% endblock script %}
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
        {% comment %} Alertify {% endcomment %}
        <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
        <script>
          alertify.set('notifier','position', 'top-right');
          {% for msg in messages  %}
              alertify.{{msg.tags}}('{{ msg }}');
          {% endfor %}
        </script>


    </body>
</html>
